h1 {
    text-align: center;
    color: aqua;
    font-size: 1.5cm;
    font-family: cursive;
    border-radius: 0.5em;
    border-style: solid;
    border-color: white;
    border-width: 7px;
}

p {
    color:blue;
    font-size: 0.5cm;
}



body {
    font-family:cursive;
    background-color: coral;
    
}

#lista-hechas li {
    text-decoration:line-through;
}

form {
    display: block;
}